<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat App</title>
        <link rel="stylesheet" href="./static/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>

    <body>

        <nav class="navbar navbar-expand-lg background">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="#">Chat App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light active" aria-current="page" href="#">Home</a>
                        </li>


                    </ul>

                </div>
            </div>
        </nav>

        <section class="mid-section">
            <div class="left">
                <div class="alert alert-primary" role="alert">
                    A simple primary alert—check it out!
                </div>
                <div class="center">
                    voluptate cumque temporibus omnis nemo.

                </div>
                <div class="alert alert-secondary" role="alert">
                    A simple secondary alert—check it out!
                </div>
                <div class="alert alert-primary" role="alert">
                    A simple primary alert—check it out!
                </div>
                <div class="center">
                    voluptate cumque temporibus omnis nemo.

                </div>
                <div class="alert alert-secondary" role="alert">
                    A simple secondary alert—check it out!
                </div>
                <div class="alert alert-primary" role="alert">
                    A simple primary alert—check it out!
                </div>
                <div class="center">
                    voluptate cumque temporibus omnis nemo.

                </div>
                <div class="alert alert-secondary" role="alert">
                    A simple secondary alert—check it out!
                </div>
                
                <div class="alert alert-secondary" role="alert">
                    A simple secondary alert—check it out!
                </div>

            </div>
            <div class="right">
                <div class="alert alert-success" role="alert">
                    A simple primary alert—check it out!
                </div>
                <div class="alert alert-success" role="alert">
                    A simple secondary alert—check it out!
                </div>

            </div>

        </section>
        <hr/>

        <div class="container">
            <form>
                <div class="d-flex">
                    <input type="text" name="mag" placeholder="Enter Message......" class="form-control">
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
            </form>
        </div>



        <footer class="background text-light fixed-bottom text-center  p-1">
            <p>Copyright@Chatapp.com</p>
        </footer>



        <script src="http://localhost:8000/socket.io/socket.io.js"></script>
        <script src="./static/js/index.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>




    </body>

</html>

